In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
from config import g_key
%matplotlib inline

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
cityData_df=pd.read_csv("weatherData/cities.csv")
cityData_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Mar Del Plata,-38.0023,-57.5575,51.82,100,90,18.41,AR,2021-09-08 08:09:09
1,1,Tasiilaq,65.6145,-37.6368,44.76,57,0,12.10,GL,2021-09-08 08:16:14
2,2,Nanortalik,60.1432,-45.2371,44.98,70,100,3.60,GL,2021-09-08 08:16:14
3,3,Ihosy,-22.4000,46.1167,80.89,34,0,3.20,MG,2021-09-08 08:16:15
4,4,Vardo,70.3705,31.1107,41.20,75,75,6.91,NO,2021-09-08 08:16:15

In [3]:
cityData_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [12]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = cityData_df[["Lat", "Lng"]]
# Get the maximum temperature.
maxTemp = cityData_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0,31.0),zoom_level=1.0)
# Assign the heatmap variable.
heatLayer = gmaps.heatmap_layer(locations, weights = maxTemp, dissipating=False,
                               max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heatLayer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of percent humidity
locations = cityData_df[["Lat", "Lng"]]
humidity = cityData_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.0)
heatLayer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heatLayer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of percent cloudiness
locations = cityData_df[["Lat", "Lng"]]
clouds = cityData_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.0)
heatLayer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heatLayer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of percent cloudiness
locations = cityData_df[["Lat", "Lng"]]
wind = cityData_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.0)
heatLayer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heatLayer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Ask the customer to add a minimum and maximum temperature value.
minTemp = float(input("What is the minimum temperature you would like for your trip?"))
maxTemp = float(input("What is the maximum temperature you would like for your trip?"))

What is the minimum temperature you would like for your trip?75
What is the maximum temperature you would like for your trip?90

In [22]:
# Filter the dataset to find the cities that fit the criteria.
preferredCities_df= cityData_df.loc[(cityData_df["Max Temp"]<= maxTemp)&
                                (cityData_df["Max Temp"]>= minTemp)].dropna()
preferredCities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
3,3,Ihosy,-22.4000,46.1167,80.89,34,0,3.20,MG,2021-09-08 08:16:15
11,11,Umm Kaddadah,13.6017,26.6876,87.28,48,100,7.36,SD,2021-09-08 08:16:17
12,12,Zurrieq,35.8311,14.4742,78.96,57,20,4.61,MT,2021-09-08 08:16:18
19,19,Kulhudhuffushi,6.6221,73.0700,82.53,71,100,13.51,MV,2021-09-08 08:16:21
29,29,Victoria,22.2855,114.1577,89.65,72,28,9.37,HK,2021-09-08 08:14:35
33,33,Hithadhoo,-0.6000,73.0833,82.99,71,44,6.78,MV,2021-09-08 08:16:26
36,36,Eydhafushi,5.1033,73.0708,82.74,69,99,11.70,MV,2021-09-08 08:16:27
37,37,Paracuru,-3.4100,-39.0306,78.12,77,99,13.78,BR,2021-09-08 08:16:27
43,43,Bengkulu,-3.8004,102.2655,77.95,85,100,6.96,ID,2021-09-08 08:16:29
46,46,Mpika,-11.8343,31.4529,78.46,31,0,11.34,ZM,2021-09-08 08:16:31

In [23]:
preferredCities_df.count()

City_ID       203
City          203
Lat           203
Lng           203
Max Temp      203
Humidity      203
Cloudiness    203
Wind Speed    203
Country       203
Date          203
dtype: int64

In [24]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferredCities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
3            Ihosy      MG     80.89 -22.4000   46.1167
11    Umm Kaddadah      SD     87.28  13.6017   26.6876
12         Zurrieq      MT     78.96  35.8311   14.4742
19  Kulhudhuffushi      MV     82.53   6.6221   73.0700
29        Victoria      HK     89.65  22.2855  114.1577
33       Hithadhoo      MV     82.99  -0.6000   73.0833
36      Eydhafushi      MV     82.74   5.1033   73.0708
37        Paracuru      BR     78.12  -3.4100  -39.0306
43        Bengkulu      ID     77.95  -3.8004  102.2655
46           Mpika      ZM     78.46 -11.8343   31.4529

In [25]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [28]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    lat = row["Lat"]
    lng = row["Lng"]
    
     # Add the latitude and longitude to location key for the params dictionary.
    params["location"]= f"{lat},{lng}"
    
    # Use the search term: "lodging" and our latitude and longitude.
    baseUrl = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(baseUrl, params =params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except(IndexError):
        print("Hotel not found...skipping.")

Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.

In [29]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
3,Ihosy,MG,80.89,-22.4000,46.1167,Tamana Hôtel
11,Umm Kaddadah,SD,87.28,13.6017,26.6876,
12,Zurrieq,MT,78.96,35.8311,14.4742,Ta'Bertu Guest House
19,Kulhudhuffushi,MV,82.53,6.6221,73.0700,Hondaafushi Island Resort
29,Victoria,HK,89.65,22.2855,114.1577,Mini Hotel Central
33,Hithadhoo,MV,82.99,-0.6000,73.0833,Scoop Guest House
36,Eydhafushi,MV,82.74,5.1033,73.0708,Soneva Fushi
37,Paracuru,BR,78.12,-3.4100,-39.0306,Hotel Vento Brasil
43,Bengkulu,ID,77.95,-3.8004,102.2655,Grage Hotel Bengkulu
46,Mpika,ZM,78.46,-11.8343,31.4529,Melodies Lodge

In [35]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [36]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
maxTemp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.0)
heatLayer= gmaps.heatmap_layer(locations, weights=maxTemp, dissipating=False,
             max_intensity=300, point_radius=4)
markerLayer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heatLayer)
fig.add_layer(markerLayer)
fig

Figure(layout=FigureLayout(height='420px'))