## Deliverable 2. Create a Customer Travel Destinations Map.

In [8]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np


# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [12]:
# 1. Import the WeatherPy_database.csv file. 
cityData_df = pd.read_csv("..\..\WeatherPy_Challenge\WeatherPy_Database.csv")
cityData_df.head()

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Chuy,UY,-33.6971,-53.4616,51.89,91,98,13.65,overcast clouds
1,1,Victoria,HK,22.2855,114.1577,87.96,78,56,3.00,broken clouds
2,2,Port Elizabeth,ZA,-33.9180,25.5701,75.09,64,0,18.41,clear sky
3,3,Odweyne,SO,9.4092,45.0640,88.99,28,48,19.13,scattered clouds
4,4,Siedlce,PL,52.1677,22.2901,74.89,43,11,8.86,few clouds

In [22]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
minTemp = float(input("What is the minimum temperature you would like for your trip?"))
maxTemp = float(input("What is the maximum temperature you would like for your trip?"))

What is the minimum temperature you would like for your trip?60
What is the maximum temperature you would like for your trip?85

In [23]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferredCities_df= cityData_df.loc[(cityData_df["Max Temp"]<= maxTemp)&
                                (cityData_df["Max Temp"]>= minTemp)]
preferredCities_df.head(10)

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Port Elizabeth,ZA,-33.9180,25.5701,75.09,64,0,18.41,clear sky
4,4,Siedlce,PL,52.1677,22.2901,74.89,43,11,8.86,few clouds
5,5,Bengkulu,ID,-3.8004,102.2655,77.70,85,49,10.09,scattered clouds
6,6,Rakke,EE,58.9817,26.2544,71.91,52,12,13.20,few clouds
7,7,Cape Town,ZA,-33.9258,18.4232,84.61,26,0,6.91,clear sky
8,8,Manadhoo,MV,5.7667,73.3833,83.14,70,48,8.16,scattered clouds
10,10,Georgetown,MY,5.4112,100.3354,82.35,84,20,1.01,few clouds
15,15,Marawi,PH,7.9986,124.2928,69.66,92,100,5.21,overcast clouds
19,19,Ribas Do Rio Pardo,BR,-20.4431,-53.7592,70.79,74,92,9.80,moderate rain
21,21,Hithadhoo,MV,-0.6000,73.0833,83.41,67,45,3.65,scattered clouds

In [24]:
# 4a. Determine if there are any empty rows.
preferredCities_df.count()

Unnamed: 0             398
City                   398
Country                397
Lat                    398
Lng                    398
Max Temp               398
Humidity               398
Cloudiness             398
Wind Speed             398
Current Description    398
dtype: int64

In [25]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferredCities_df.dropna()
clean_df.count()

Unnamed: 0             397
City                   397
Country                397
Lat                    397
Lng                    397
Max Temp               397
Humidity               397
Cloudiness             397
Wind Speed             397
Current Description    397
dtype: int64

In [26]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Port Elizabeth,ZA,75.09,clear sky,-33.9180,25.5701,
4,Siedlce,PL,74.89,few clouds,52.1677,22.2901,
5,Bengkulu,ID,77.70,scattered clouds,-3.8004,102.2655,
6,Rakke,EE,71.91,few clouds,58.9817,26.2544,
7,Cape Town,ZA,84.61,clear sky,-33.9258,18.4232,
8,Manadhoo,MV,83.14,scattered clouds,5.7667,73.3833,
10,Georgetown,MY,82.35,few clouds,5.4112,100.3354,
15,Marawi,PH,69.66,overcast clouds,7.9986,124.2928,
19,Ribas Do Rio Pardo,BR,70.79,moderate rain,-20.4431,-53.7592,
21,Hithadhoo,MV,83.41,scattered clouds,-0.6000,73.0833,

In [27]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    lat = row["Lat"]
    lng = row["Lng"]
    
    # 6c. Get latitude and longitude from DataFrame
    params["location"]= f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    baseUrl = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(baseUrl, params =params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except(IndexError):
        print("Hotel not found...skipping.")

Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.

In [30]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df = hotel_df.replace("", np.nan).dropna()
hotel_df.count()

City                   365
Country                365
Max Temp               365
Current Description    365
Lat                    365
Lng                    365
Hotel Name             365
dtype: int64

In [31]:
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Port Elizabeth,ZA,75.09,clear sky,-33.9180,25.5701,39 On Nile Guest House
4,Siedlce,PL,74.89,few clouds,52.1677,22.2901,Hotel Arche
5,Bengkulu,ID,77.70,scattered clouds,-3.8004,102.2655,Grage Hotel Bengkulu
7,Cape Town,ZA,84.61,clear sky,-33.9258,18.4232,Southern Sun Waterfront Cape Town
8,Manadhoo,MV,83.14,scattered clouds,5.7667,73.3833,Vevu Guesthouse
10,Georgetown,MY,82.35,few clouds,5.4112,100.3354,Cititel Penang
15,Marawi,PH,69.66,overcast clouds,7.9986,124.2928,Derogongan Residence
19,Ribas Do Rio Pardo,BR,70.79,moderate rain,-20.4431,-53.7592,Pousada Avenida
21,Hithadhoo,MV,83.41,scattered clouds,-0.6000,73.0833,Scoop Guest House
22,Isiro,CD,83.98,overcast clouds,2.7739,27.6160,Guest House Hewa Bora

In [35]:
# 8a. Create the output File (CSV)
outputDataFile = "WeatherPy_Vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(outputDataFile, index_label="City_ID")

In [36]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [37]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.0)
markerLayer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(markerLayer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))